
:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: minmax(300px, 0.75fr) 4fr;
    height: 100vh;
}

.body {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 4fr;
    
}

/* Sidebar selectors --- */
.sidebar {
    padding: 1rem;
    background-color: lightgrey;
    grid-column: 1 / 2;
}

.sidebar-content {
    display: grid;
    grid-template-rows: 100px 300px 200px;
    font-size: x-large;
}

.sidebar-content li {
    padding: 10px;
   
}

.sidebar-content h1 {
    font-size: xx-large;
}


.sidebar-content img {
    position: relative;
    top: 3px;
    padding-right: 1rem;
}



/* Sidebar selectors --- */





/* Header selectors --- */
.header {
    padding: 2rem 2rem 0rem 2rem;
    background-color: red;
    display: grid;
    grid-template-columns: auto minmax(auto, 0.5fr);
    grid-template-rows: auto auto;
}

.top-left {
   display:flex;
   gap: 2rem;
}

.top-left img {
    height: fit-content;
    position: relative;
    top: 5px;
}

.top-left input {
    height: 25px;
    flex-grow: 1;
    border-radius: 25px;
    border: solid transparent;
}

.top-right {
    display:flex;
    padding-top: 5px;
}

.top-right img {
    height: fit-content;
}

.top-right :first-child {
    position: relative;
    bottom: 5px
}

.top-right, .bottom-right {
    justify-content: flex-end;
    
}

.bottom-left {
    display:grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 30px 50px;
}

.bottom-left :last-child {
    font-size: larger;
}


.bottom-right {
    display:flex;
    align-items: center;
    gap: 2rem;
}

.bottom-right button {
    width: 100px;
}


.top-right img[src="icons/profile-picture.png"]{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 45px;

}

.bottom-left img[src="icons/profile-picture.png"]{
    height: 200px;
    width: 200px;
    grid-row: 1 / -1;
    position: relative;
    bottom: 85px;
    right: 65px;
}


/* Header selectors --- */






/* Main selectors --- */
.main {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px auto;
    padding-bottom: 4rem;
}

#projects, #announcements{
    grid-row: 1 / 2;
    align-self: flex-end;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}


.projects {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid red;
    padding-left: 1rem;
}

/* temp */
.projects .project-container {
    display: grid;
    border: 1px solid black;
    padding-left: 1rem;
}

.projects .content {
    height: 200px;
    width: 550px;
    border: 2px solid green;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75% 25%;
    word-break: break-all;
}

.content p {
    grid-row: 1 / 2;
}

.content img {
    grid-row: 2 / -1;
}

.content .icons {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.content p {
    overflow: hidden;
}




.right-sidebar {
    grid-column: 2 / -1;
    border: 2px solid pink;
    display: grid;
    grid-template-rows: auto 25px auto;
    min-width: 350px;
    padding-left: 1rem;
    padding-right: 2rem;
}

#announcements-container {
    display: grid;
    padding: 1.5rem;
    grid-template-rows: repeat(3, 116px);
    word-break: break-all;
}

#announcements-container .content {
    border: 2px solid blue;
    overflow: hidden;
    text-overflow: ellipsis;
}

#trending-container {
    display: grid;
    grid-template-columns: 0.7fr 2fr; 
    grid-template-rows: repeat(4, 1fr);
}

#trending-container .content {
    grid-column: 2 / -1;
    border: 2px solid purple;
    align-self: center;
}

#trending-container .content :last-child {
    padding-top: 5px;
}

#trending-container .avatar {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    position: relative;
}

#trending-container img{
    transform: scale(2.5);
    max-height: 200px;
    max-width: 100px;
    margin-left: -2rem;
}

#trending-container img[src="icons/avatar-one.png"] {
    transform: scale(2.5);
    position: relative;
    top: 5px;
    left: 5px;
}

#trending-container img[src="icons/avatar-two.png"] {
    transform: scale(3.5);
    position: relative;
    left: 32px;
}

#trending-container img[src="icons/avatar-three.png"] {
    position: relative;
    transform: scale(3);
    left: 96px;
}

#trending-container img[src="icons/avatar-four.png"] {
    position: relative;
    transform: scale(2.8);
    bottom: 90px;
    left: 86px;
}




#announcements-container, #trending-container {
    height: 350px;
    border: 2px solid brown;
    
}


/* Main selectors --- */

